-  @posts.each do |post|
    .card
        = post.content
        = form_for(Comment.new, url: comment_index_path) do |f|
            = f.hidden_field :post_id, {value: post.id}
            = f.text_field :content, class: 'input-new-comment', placeholder: 'Escreva um comentário ...'
        - post.comments.each do |comment|
            .card-comment
                = comment.content
