.card
    .card-title 
        = image_tag get_photo_from_post_owner(post.id), class: 'photo' unless get_photo_from_post_owner(post.id).blank?
        = post.user.full_name
    .card-created-at
        = post.posted_at
    .card-content
        = post.content
    = image_tag post.image unless post.image.blank?
    = turbo_stream_from post, :comments
    = turbo_frame_tag "comments" do
        = form_for(Comment.new, url: comment_index_path) do |f|
            = f.hidden_field :post_id, {value: post.id}
            = f.text_field :content, class: 'input-new-comment', placeholder: t(:'activerecord.attributes.post.new_comment')
            = render post.comments