!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Facefood
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "media": "all", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    %header
      = render 'shared/header'
    %main
      .main-container 
        .main-container-left 
          %aside
            = render 'shared/left_side'
        .main-container-center
          = yield
        .main-container-right
          %aside
            = render 'shared/right_side'
